
@media screen and (max-width: 1200px) {
    
    .header{
        padding: 1rem 2rem;
    }
}


@media screen and (max-width: 1024px) {

    .header #menu-bar{
        display: block;
    }

    .header .navbar{
        display: none;
    }

    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        text-align: center;
        
    }

    .home .content{
        order: 2;
    }

    .home .home-img{
        order: 1;
    }

    .collection .container .content{
        grid-template-columns: 1fr;
    }

    .features .container{
        flex-direction: column;
        text-align: center;
    }
}


@media screen and (max-width: 7684px) {

}