@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
}

:root{
    --main-color: #E02C6D;
    --text-color: #3A3A3A;
    --gray-color: #787885;
    --bg-color: #fff;

    --footer-bg-color: #0A0826;
    --shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

/* =============== shared styles ================= */

p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 1rem;
}

h3{
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 142.857%;
    margin-bottom: .4rem;
}

.btn{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 700;
    padding: .6rem 1.5rem;
    background: var(--main-color);
    border-radius: 10rem;
    cursor: pointer;
    border: .1rem solid transparent;
    margin-top: 1rem;
}

.btn i{
    font-size: 1.2rem;
    vertical-align: middle;
    margin-left: .5rem;
}

.btn:hover{
    color: var(--main-color);
    border: .1rem solid var(--main-color);
    background: transparent;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

section{
    padding: 2rem 7%;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* =============== header styles ================= */

.header{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header #menu-bar{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.header .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.header .navbar a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 2rem;
}

.header .navbar a.active,
.header .navbar a:hover{
    color: var(--main-color);
}

.header .navbar .head-icons a i{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    opacity: .7;
}

.header .navbar .head-icons a i:hover{
    opacity: 1;
}



/* =============== home styles ================= */

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin-top: 5rem;
}

.home .content{
    max-width: 36.2rem;
}

.home .content h1{
    font-size: 3.25rem;
    font-weight: 700;
    color: var(--text-color);
}

.home .home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .home-img img{
    width: 100%;
    height: auto;
}



/* =============== sponsors styles ================= */

.sponsors{
    flex-wrap: wrap;
}

.sponsors .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    border-top: .1rem solid #22222218;
    border-bottom: .1rem solid #222;
}

.sponsors .content img{
    width: 20%;
}



/* =============== collection styles ================= */

.collection h2{
    margin-top: 6.25rem;
    text-align: center;
}

.collection .container .content{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.collection .container .box{
    background: var(--bg-color);
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.collection .container .box img{
    width: 100%;
}

.collection .container .box h3{
    margin-top: 1rem;
}

.collection .container .box span{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.collection .container .box .stars{
    font-size: 1rem;
    color: #FB8200;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.collection .container .box .stars .rate{
    margin-left: .8rem;
    font-size: 1rem;
    font-weight: 700;
}

.collection .container .box h4{
    font-size: .8rem;
    font-weight: 700;
    color: var(--text-color);
    margin-top: .5rem;
}

.collection .see-more{
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 2rem;
    float: right;
    margin-right: 8rem;
    opacity: .7;
}

.collection .see-more:hover{
    opacity: 1;
}




/* =============== features styles ================= */

.features .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 6.25rem;
}

.features .container .img img{
    width: 100%;
}

.features .container .content h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.features .container .content .btn{
    border-radius: 0;
}



/* ================= footer styles ================ */

.footer{
    margin-top: 6.15rem;
    height: 15rem;
    width: 100%;
    background: var(--footer-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .content h2{
    color: var(--bg-color);
}

.footer .content span{
    color: var(--bg-color);
    font-size: .8rem;
    font-weight: 700;
    margin-top: .5rem;
}

.footer .content .social-site{
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.footer .content .social-site i{
    font-size: 1.5rem;
    color: var(--bg-color);
    padding: .5rem;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
}

.footer .content .social-site i:hover{
    background: var(--gray-color);
}











/* ================= BREAKPOINTS ================ */

/* @media (max-width: 1200px){
    
    .header{
        padding: 1rem 2rem;
    }
    section{
        padding: 1rem 2rem;
    }
}

@media (max-width: 1024px){

    .header .navbar{
        display: none;
    }

    .header #menu-bar{
        display: block;
    }

    .home{
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .home .content{
        margin: 0 auto;
        text-align: center;
        order: 2;
    }

    .home .home-img{
        order: 1;
        text-align: center;
        margin: 0 auto;
        margin-top: 5rem;
    }
    .sponsors .content{
        flex-wrap: wrap;
    }
}

@media (max-width: 768px){

    .home .home-img{
        gap: 0;
    }

    .collection .container .content{
        grid-template-columns: 1fr;
    }

    .collection .container .see-more{
        float: right;
    }
    .features .container{
        flex-direction: column;
        text-align: center;
    }
} */